<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maclandrol.flibityboop"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_flibityboop"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.maclandrol.flibityboop.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.maclandrol.flibityboop.MediaDetails"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_media_details" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.maclandrol.flibityboop.SearchActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_search"
            android:launchMode="singleTop"
            android:parentActivityName="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.maclandrol.flibityboop.FavoriteActivity"
            android:label="@string/fav_act"
            android:launchMode="singleTop" >
        </activity>
        <activity android:name="com.maclandrol.flibityboop.SettingActivity" android:label="@string/title_activity_settings">
        </activity>

        <provider
            android:name=".SearchSuggestionProvider"
            android:authorities="com.maclandrol.flibityboop.SearchSuggestionProvider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".MediaContentProvider"
            android:authorities="com.maclandrol.flibityboop"
            android:exported="true" >
        </provider>

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchActivity" />
    </application>

</manifest>